body{
    background-image: url("../images/genie.png");
    height:100%;
}

div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px white;
	padding: 10px;
}
h1, h4, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}


div.header, div.instructions{
	width: 50%;
}
.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}

.userTotal{
	width: 15%;
	height: 60px;
}
.diamonds{
	clear: both;
}


.diamondImage{
	height: 50px;
    margin: 10px;
}   




#blue{
	color: blue;
}
#green{
	color: green;
}
#red{
	color: red;
}
#yellow{
	color: yellow;
}